/* style.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#fff;
  color:#111;
  transition:0.4s;
}

body.dark{
  background:#111;
  color:#fff;
}

section{
  padding-top:100px;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#ff5722;
  color:#fff;
  position:sticky;
  top:0;
  z-index:1000;
  box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.logo{
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:20px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-weight:bold;
  transition:0.3s;
}

.nav-links a:hover{
  color:black;
  border-bottom:2px solid white;
  padding-bottom:5px;
}
.icons{
  display:flex;
  gap:30px;
  font-size:22px;
  cursor:pointer;
}
.cart-container{
  position:relative;
}

.cart-count{
  position:absolute;
  top:-8px;
  right:-10px;
  background:red;
  color:white;
  width:18px;
  height:18px;
  border-radius:50%;
  font-size:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
}

#menuBtn{
  display:none;
}

/* Hero Section */

.hero{
  height:100vh;

  background:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url('images/Hero.jpg');

  background-size:cover;
  background-position:center;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
}

.hero-text{
  animation:fadeIn 2s ease;
}

.hero-text h1{
  font-size:72px;
  font-weight:bold;
  line-height:1.2;
  text-shadow:2px 2px 10px rgba(0,0,0,0.5);
}

.hero-text p{
  margin:25px 0;
  font-size:24px;
}
.hero button{
  padding:15px 35px;
  border:none;
  background:#ff5722;
  color:white;
  font-size:20px;
  font-weight:bold;
  border-radius:30px;
  cursor:pointer;
  transition:0.3s;
}

.hero button:hover{
  background:black;
  transform:translateY(-3px);
}
/* Animation */

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(50px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

/* Menu */

.menu{
  padding:80px 10%;
  text-align:center;
}

.menu h2{
  font-size:42px;
  margin-bottom:40px;
}

.menu-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:30px;
}
.search-box{
  margin-bottom:30px;
}

.search-box input{
  width:100%;
  max-width:400px;
  padding:15px 20px;
  border:2px solid #ff5722;
  border-radius:30px;
  font-size:16px;
  outline:none;
}
.card{
  background:#f5f5f5;
  padding:20px;
  border-radius:12px;
  transition:0.3s;
}

.card{
  background:#f5f5f5;
  padding:20px;
  border-radius:12px;
  transition:0.3s;
}

body.dark .card{
  background:#222;
}

.card:hover{
  transform:translateY(-12px) scale(1.04);
  box-shadow:0 15px 30px rgba(0,0,0,0.25);
}
.card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

.card h3{
  margin:15px 0;
  font-size:24px;
}

.card p{
  margin-bottom:10px;
  font-size:18px;
}

.card button{
  padding:12px 25px;
  border:none;
  background:#ff5722;
  color:white;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.card button:hover{
  background:black;
  transform:scale(1.08);
}

.card button:hover{
  background:black;
}

/* About */

.about{
  padding:80px 10%;
  text-align:center;
}

.about h2{
  font-size:42px;
  margin-bottom:20px;
}

.about p{
  max-width:700px;
  margin:auto;
  line-height:1.8;
  font-size:18px;
}

/* Reviews */

.reviews{
  padding:80px 10%;
  text-align:center;
}

.reviews h2{
  margin-bottom:30px;
  font-size:40px;
}

.review-box{
  max-width:600px;
  margin:auto;
  background:#ff5722;
  color:white;
  padding:40px;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.review-box p{
  font-size:20px;
  margin-bottom:15px;
}

/* Contact */

.contact{
  padding:80px 10%;
  text-align:center;
}

.contact h2{
  font-size:40px;
  margin-bottom:30px;
}

.contact form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact input,
.contact textarea{
  padding:15px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:16px;
}

.contact textarea{
  resize:none;
  height:120px;
}

.contact button{
  padding:15px;
  border:none;
  background:#ff5722;
  color:white;
  cursor:pointer;
  border-radius:5px;
  font-size:16px;
  transition:0.3s;
}

.contact button:hover{
  background:black;
}

/* Footer */

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:35px;
}

footer p{
  margin:6px 0;
}
.socials{
  margin-top:10px;
  display:flex;
  justify-content:center;
  gap:20px;
  font-size:22px;
}

.socials i{
  cursor:pointer;
  transition:0.3s;
}

.socials i:hover{
  color:#ff5722;
}

/* Responsive */

@media(max-width:768px){
  .navbar{
  padding:15px 5%;
}

.logo{
  font-size:20px;
}

.icons{
  gap:40px;
  font-size:18px; 
}
.cart-sidebar{
  width:100%;
  max-width: 100%;
}

  #menuBtn{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:80px;
    right:-100%;
    flex-direction:column;
    background:#ff5722;
    width:220px;
    padding:20px;
    transition:0.4s;
  }

  .nav-links.active{
    right:0;
  }

  .hero-text h1{
    font-size:40px;
  }

  .hero-text p{
    font-size:18px;
  }

}
.cart-sidebar{
  position:fixed;
  top:0;
  right:-100%;
  width:100%;
  max-width:350px;
  height:100%;
  background:white;
  box-shadow:-5px 0 15px rgba(0,0,0,0.2);
  padding:20px;
  transition:0.4s;
  z-index:9999;
  overflow-y:auto;
}

.cart-sidebar.active{
  right:0;
}

.cart-sidebar h2{
  margin-bottom:20px;
}

.cart-sidebar h3{
  margin-top:20px;
}

.cart-sidebar button{
  margin-top:20px;
  padding:10px 20px;
  background:#ff5722;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
#checkoutBtn{
    margin-top:10px;
    width:100%;
    padding:12px;
    background:green;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

#checkoutBtn:hover{
    opacity:0.9;
}

.remove-btn{
   background:none !important;
   border:none !important;
   color:red !important;
   font-size:20px;
   cursor:pointer;
   margin-left:10px;
   padding:0 !important;
   width:auto !important;
   height:auto !important;
}
#toast{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#28a745;
  color:white;
  padding:15px 25px;
  border-radius:10px;
  font-weight:bold;
  display:none;
  z-index:9999;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}
.wishlist{
  position:absolute;
  top:15px;
  right:15px;
  color:#ccc;
  font-size:24px;
  cursor:pointer;
  transition:0.3s;
}

.wishlist.active{
  color:red;
  transform:scale(1.2);
}

.card{
  position:relative;
}
.rating{
  margin:10px 0;
  font-size:18px;
  color:gold;
}
.badge{
  position:absolute;
  top:15px;
  left:15px;
  background:#ff5722;
  color:white;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:bold;
  z-index:2;
}
#emptyCart{
  text-align:center;
  font-size:18px;
  font-weight:bold;
  color:#888;
  margin-top:30px;
  animation:floatCart 2s infinite ease-in-out;
}

@keyframes floatCart{
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-8px);
  }
  100%{
    transform:translateY(0);
  }
}
#couponInput{
  width:100%;
  padding:10px;
  margin-top:15px;
  border:2px solid #ff5722;
  border-radius:8px;
}

#applyCoupon{
  width:100%;
  margin-top:10px;
  background:#2196f3;
}
.coupon-text{
  color:green;
  font-weight:bold;
  margin-top:10px;
  text-align:center;
}
.plus-btn,
.minus-btn{

  background:#ff5722;
  color:white;
  border:none;
  padding:4px 8px;
  margin:0 5px;
  border-radius:5px;
  cursor:pointer;

}

.qty{

  font-weight:bold;
  margin:0 5px;

}
.reservation{
  padding:80px 10%;
  text-align:center;
}

.reservation h2{
  margin-bottom:20px;
  font-size:40px;
}

.reservation form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.reservation input{
  padding:15px;
  border:1px solid #ccc;
  border-radius:8px;
}
.special{
  padding:80px 10%;
  text-align:center;
}

.special h2{
  font-size:40px;
  margin-bottom:30px;
}

.special-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.special-card{
  background:#f5f5f5;
  padding:20px;
  border-radius:12px;
  transition:0.3s;
}

body.dark .special-card{
  background:#222;
}

.special-card:hover{
  transform:translateY(-8px);
}

.special-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}

.special-card h3{
  margin:15px 0 10px;
}

.special-card p{
  color:#ff5722;
  font-weight:bold;
}
.old-price{
  text-decoration:line-through;
  color:gray;
  margin-top:10px;
}

.new-price{
  color:green;
  font-size:24px;
  font-weight:bold;
  margin:10px 0;
}
.countdown-box{
  margin-bottom:30px;
}

#countdown{
  font-size:32px;
  font-weight:bold;
  color:#ff5722;
  margin-top:10px;
}
.top-selling{
  padding:80px 10%;
  text-align:center;
}

.top-selling h2{
  margin-bottom:30px;
  font-size:40px;
}

.top-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.top-card{
  background:#f5f5f5;
  padding:25px;
  border-radius:12px;
  transition:0.3s;
  font-size:22px;
}

body.dark .top-card{
  background:#222;
}

.top-card:hover{
  transform:translateY(-8px);
}
.wishlist-sidebar{
  position:fixed;
  top:0;
  right:-100%;
  width:350px;
  height:100%;
  background:white;
  transition:0.4s;
  z-index:9999;
  padding:20px;
}

.wishlist-sidebar.active{
  right:0;
}
#reservationForm label{
  display:block;
  margin:10px 0 5px;
  font-weight:600;
}